/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
* {
    transition: all 0.3s;
    font-family: 'Urbanist', sans-serif;
}
:root {
    --black: #222831;
    --nav-bg: #FFD369;
    --nav-txt: #EEEEEE;
    --nav-txt-hvr: #D3E0EA;
}

html {
    scroll-padding-top: 60px;
    /* height of sticky header */
}
nav ul a,
nav .brand-logo {
    color: var(--nav-txt);
    text-decoration: none;
}

nav ul a:hover {
    color: var(--nav-txt);
}

.sidenav-trigger {
    color: var(--nav-txt);
    text-decoration: none;
}
ul#mobile-demo.sidenav  {
    background-color: var(--nav-bg);
}
ul.sidenav li a {
    color: var(--nav-dark);
    background-color: var(--nav-bg);
    text-decoration: none;
}

.blue.darken-3 {
    background-color:var(--black) !important;
}