/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
* {
    transition: all 0.3s;
    font-family: 'Urbanist', sans-serif;
}
:root {
    --nav-bg: #276678;
    --nav-txt: #F6F5F5;
    --nav-txt-hvr: #D3E0EA;
}

html {
    scroll-padding-top: 60px;
    /* height of sticky header */
}

nav ul a,
nav .brand-logo {
    color: var(--nav-txt);
    text-decoration: none;
}

nav ul a:hover {
    color: var(--nav-txt);
}

.sidenav-trigger {
    color: var(--nav-txt);
    text-decoration: none;
}

.sidenav li a {
    color: var(--nav-txt);
    background-color: var(--nav-bg);
    text-decoration: none;
}
.sidenav li {
    background-color: var(--nav-bg);
}

.blue.darken-3 {
    background-color:var(--nav-bg) !important;
}

.page-footer{
    background-color: var(--nav-bg);
}
