/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
:root {
    --black: #222831;
    --dark: #393E46;
    --bg: #FFD369;
    --txt: #EEEEEE;
    --txt-hvr: #D3E0EA;
}

* {
    transition: all 0.3s;
    font-family: 'Urbanist', sans-serif;
}

.container {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container .row {
    margin: 0 auto;
}

.myimage {
    height: 300px;
    border-radius: 50% !important;
    margin: 10px;
}

.aboutmeh3 {
    margin: 0px !important;
    letter-spacing: 1px;
}

.caption .title {
    margin: 7px 0;
    margin-top: 0;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    color: var(--bg);
    z-index: -1;
}

.caption .subtitle {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    color: var(--txt);
    display: inline;
}

.titulos {
    margin: 0px !important;
    letter-spacing: 1px;
}

.white-text.myhighlight {
    background-color: var(--bg);
}

.card {
    border-radius: .40rem;
    background-color: var(--dark);
    min-height: 20vh;
}

.card.horizontal {
    border-radius: .40rem;
    background-color: rgba(57, 62, 70, 0.85);
    min-height: 20vh;
}

.slider .indicators .indicator-item {
    background-color: var(--dark);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider .indicators .indicator-item.active {
    background-color: var(--bg);
}

.carousel .indicators .indicator-item {
    background-color: var(--dark);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.carousel .indicators .indicator-item.active {
    background-color: var(--bg);
}

a.btn {
    appearance: none;
    background-color: var(--bg);
    color: var(--dark);
    border-radius: .40rem;
}

a.btn:hover {
    background-color: var(--dark);
    color: var(--txt-hvr);
}

.myhighlight {
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: var(--bg);
    color: var(--dark);
}

.mytitle {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--txt);
}

.mysubtitle {
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--txt);
}

.mysubtitle2 {
    letter-spacing: 1px;
    color: var(--txt);
}

.mycontact {
    margin-bottom: 0px;
    font-size: 19px;
    text-decoration: underline;
    color: var(--txt);
}

.card-panel.hoverable {
    background-color: var(--dark);
    min-height: 15vh;
}

.aboutme {
    font-size: 19px;
    text-align: justify !important;
    text-justify: inter-word !important;
    color: var(--txt);
}

.progress .determinate {
    background: var(--bg);
}

span {
    color: var(--txt);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--bg);
}

p {
    color: var(--txt);
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 600px) {
    .myimage {
        height: 200px;
    }
    .aboutmeh3 {
        font-size: 30px;
        color: var(--txt);
    }
    .aboutme {
        text-align: left !important;
        text-justify: auto !important;
        color: var(--txt);
    }
}