/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

:root {
    --bg: #276678;
    --txt: #F6F5F5;
    --txt-hvr: #D3E0EA;
}
* {
    transition: all 0.3s;
    font-family: 'Urbanist', sans-serif;    
}

.myimage {
    height: 300px;
    border-radius: 50% !important;
    margin: 5px;
}

.aboutmeh3 {
    margin: 0px !important;
    letter-spacing: 1px;
}

.titulos {
    margin: 0px !important;
    letter-spacing: 1px;
}
.white-text.myhighlight{
    background-color: var(--bg);
}
.carousel .carousel-item {
    width: 30rem !important;
    height: 100%;
    text-decoration: none;
    color: var(--bg);
}
.myhighlight {
    border-radius: 5px;
    font-size: 13px;
    letter-spacing: 1px;
}

.mytitle {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

.mysubtitle {
    font-weight: bold;
    letter-spacing: 1px;
}

.mysubtitle2 {
    letter-spacing: 1px;
}

.mycontact {
    margin-bottom: 0px;
    font-size: 19px;
    text-decoration: underline;
}

.aboutme {
    font-size: 19px;
    text-align: justify !important;
    text-justify: inter-word !important;
}

.progress .determinate{
    background: var(--bg);
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 600px) {
    .myimage {
        height: 200px;
    }
    .aboutmeh3 {
        font-size: 30px;
    }
    .aboutme {
        text-align:left !important;
        text-justify: auto !important;
    }
}

footer.page-footer {
    margin: 0;
}