{% extends 'base.html' %}{% load static %} {% block content %}

<link href="{% static '/css/presupuesto.css'%}" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <h3 class="header" style="color: red;">Esta Secccion Esta en Construccion</h3>
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="{% static 'img/profile.jpg'%}" alt class="circle">
                <span class='title'>Servicio Tecnico</span>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">textsms</i>
                <span class='title'>WhatsApp: 3644 725019</span>
            </li>
        </ul>
        <p style="color: var(--dark);">La Escondida, Chaco - </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat center">Cerrar</a>
    </div>
</div>
<div id="app">
    <div class="container section">
        <div class="col s12">
            <h2 style="color:var(--bg)">Servicio Base</h2>
            <table style="color: #EEEEEE; text-align: left;">
                <thead>
                    <tr>
                        <th>Trabajo</th>
                        <th>Valor</th>
                        <th>Cantidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(t,i) in trabajos" v-if="t.categoria === 'Servicio Tecnico'" :key="i">
                        <td style="max-width: 10rem;">[[t.trabajo]]</td>
                        <td>$[[t.precio]]</td>
                        <td>
                            <input v-model="t.cant" type="number" :name="'cant-'+i" :id="'cant-'+i"
                                style="max-width: 3rem; color: var(--txt);" min="0">
                        </td>
                        <td>
                            <input v-on:click="counter = counter + parseFloat(t.cant) * parseFloat(t.precio)"
                                class="waves-effect waves-light btn" value="Agregar" type="button">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col s12">
            <h2 style="color:var(--bg)">Hardware</h2>
            <table style="color: #EEEEEE; text-align: left;">
                <thead>
                    <tr>
                        <th>Trabajo</th>
                        <th>Valor</th>
                        <th>Cantidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(t,i) in trabajos" v-if="t.categoria === 'Hardware'" :key="i">
                        <td style="max-width: 10rem;">[[t.trabajo]]</td>
                        <td>$ [[t.precio]]</td>
                        <td>
                            <input v-model="t.cant" type="number" :name="'cant-'+i" :id="'cant-'+i"
                                style="max-width: 3rem; color: var(--txt);" min="0">
                        </td>
                        <td>
                            <input @click="counter = counter + parseFloat(t.cant) * parseFloat(t.precio)"
                                class="waves-effect waves-light btn" value="Agregar" type="button">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container section" style="text-align: left;">
        <div class="col s12">
            <ul v-for="index in trabajos">
                <li v-show="index.cant > 0">
                    <h4 style="color: white">[[index.trabajo]]</h4>
                    <p> Cantidad: [[index.cant]] = $ [[sub = parseFloat(index.cant)
                        * parseFloat(index.precio)]]</p>
                </li>
            </ul>
        </div>
    </div>
    <h2 style="color: white">Presupuesto: $[[counter]]</h2>
    <input v-on:click="counter = 0" class="waves-effect waves-light btn red" value="Resetear" type="button">
    <input v-on:click="counter = 0" class="waves-effect waves-light btn" value="Generar" type="button">
</div>

<div class="container section">
    <h1 style="color: red">Seccion en progreso.</h1>
    <h2 style="color: white">La Escondida, Chaco - Argentina</h2>
</div>
<script src="{% static '/apps/presupuesto.js' %} "></script>
{% endblock %}